/** { 
  box-sizing: border-box 
}*/

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Coming Soon', cursive;
  transition: background 1s ease;
  background: #F0F8FF;
}

/*p {
  color: black;
  font-size: 12pt;
  text-align: center;
  font-weight: bolder;
}*/



header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.navbar{
  opacity: 0.9;
  font-size: 17pt;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar-collapse {
  justify-content: flex-end;
}

.animated-navbar-toggler-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  /* Safari, Chrome, Android, IOS */
  -webkit-transform: rotate(0deg);
  /* Mozila Firefox */
  -moz-transform: rotate(0deg);
  /* Opera */
  -o-transform: rotate(0deg);
  /* Internet Explorer */
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-navbar-toggler-icon span {
  display: block;
  background: #fff;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg); 
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  -ms-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-navbar-toggler-icon span:nth-child(1) {
  top: 0px;
}

.animated-navbar-toggler-icon span:nth-child(2), 
.animated-navbar-toggler-icon span:nth-child(3) {
  top: 10px;
}

.animated-navbar-toggler-icon span:nth-child(4) {
  top: 20px;
}

.animated-navbar-toggler-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-navbar-toggler-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.animated-navbar-toggler-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-navbar-toggler-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.navbar-toggler:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: 4rem;
  }
} 

@media screen and (max-width: 992px) { 
    .heading {
      font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .heading {
      font-size: 3rem;
  }
}

@media screen and (max-width: 576px) { 
    .heading {
      font-size: 2.5rem;
  }
}


.row {
  justify-content: center;
}

.home .container-fluid {
  z-index: 10;
}

.frame {
  padding: 25px;
  border: 4px dotted rgba(241, 83, 136, 0.8);
}

.title {
  display: block;
  font-family: 'Coming Soon', cursive;
  font-size: 40px;
  text-transform: uppercase;
  margin: 35px;
  
}

#section1{
  margin: 5%;
  padding:2%;
  border: black 15px double;
  background-image: url("pictures/back.jpg");
  background-size: cover;
/*  opacity:0.8;
*/  text-align: center;
  color: bold white;
  font-size: 30pt;
}

.carousel-caption {
  background-color: rgba(62, 62, 64, 0.7);
}

.carousel-caption h4 {
  font-size: 1.5rem;
}




#section2 {
  padding: 1rem;
  overflow: hidden;
}

.box-item {
  margin-top: 20px;
  margin-bottom: 30px;
  background-image: url("pictures/p2.jpg");
  background-size: cover;
  padding: 20px;
  height: 250px;
}

.box-title {
  color: black bold;
  text-transform: uppercase;
  font-family: 'Coming Soon', cursive;
  text-align: center;
  font-size: 15pt;
}

.box-text {
  color: black bold;
  text-align: center;
}



#sticky-footer {
  flex-shrink: none;
}