* { 
  box-sizing: border-box 
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Coming Soon', cursive;
  transition: background 1s ease;
  background: #F0F8FF;
}

/*p {
  color: black;
  font-size: 12pt;
  text-align: center;
  font-weight: bolder;
}*/

a {
  text-decoration: none;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border: groove black 5px;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.navbar{
  opacity: 0.9;
  font-size: 17pt;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.8);
}

#section1{
  margin: 5%;
  padding:2%;
  border: black 15px double;
  background-image: url("pictures/back1.jpg");
  background-size: cover;
/*  opacity:0.8;
*/  text-align: center;
  color: bold white;
  font-size: 30pt;
}

