body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
  background:#f24f16;
}
.nav-link,
.navbar-brand {
  color: #000;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #fff;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('pictures/back.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}